In [24]:
import pandas as pd

In [25]:
# Read dataset2 csv
dataset2 = pd.read_csv('data/Dataset2.csv')

# Group by date 
dataset2_group = dataset2.groupby('InvoiceGlobalId')['DateTime'].count().reset_index()
dataset2.describe()

             StoreId       Quantity        Revenue
count  219224.000000  219224.000000  219224.000000
mean     8266.473009       1.522009       4.471187
std      1885.948316       1.619449       7.289649
min      4099.000000       1.000000       0.010000
25%      7385.000000       1.000000       1.500000
50%      8537.000000       1.000000       2.700000
75%     10053.000000       2.000000       4.600000
max     10502.000000      90.000000     375.000000

In [264]:
dataset2['Subcategory'].value_counts()

Subcategory
CIG                    43941
TOBACCO ACCESSORIES    14174
HEATED                 13709
RYO                    11248
ENERGY DRINK           10219
                       ...
COFFEE CAPSULES           13
ESPRESSO GROUND           13
TEQUILA                    7
OTHER SNACKS               5
VERMOUTH                   1
Name: count, Length: 98, dtype: int64

In [234]:
# Remove subcategories with less than 20 occurrences

# Get the subcategories with less than 20 occurrences
subcategories = dataset2['Subcategory'].value_counts()
subcategories = subcategories[subcategories < 20].index.tolist()

# Remove the subcategories from the dataset
dataset2 = dataset2[~dataset2['Subcategory'].isin(subcategories)]

In [235]:
dataset2['Subcategory'].value_counts()

Subcategory
CIG                    43941
TOBACCO ACCESSORIES    14174
HEATED                 13709
RYO                    11248
ENERGY DRINK           10219
                       ...
HEATED DEVICES            51
REST NUTRITIOUS           46
OTHER ICE CREAM           34
TOBACCO_PIPE              32
FILTER COFFEE             30
Name: count, Length: 91, dtype: int64

### Now we want to keep only the columns we need for the clustering

In [265]:
dataset2 = dataset2[['InvoiceGlobalId', 'Subcategory']]
dataset2

       InvoiceGlobalId          Subcategory
0          8412_452536         GREEK COFFEE
1         4099_1277028                  RYO
2          8412_452839         ENERGY DRINK
3          6748_853300  TOBACCO ACCESSORIES
4         4099_1282071             JELLIES
...                ...                  ...
219219     8412_448618         ENERGY DRINK
219220     8505_716266              NIBBLES
219221     7385_404476      LONG LIFE JUICE
219222     8553_262736            DIGESTIVE
219223     7385_405989      LONG LIFE JUICE

[219224 rows x 2 columns]

In [238]:
dataset2_encoded = pd.get_dummies(dataset2, columns=['Subcategory'], dtype=int)
dataset2_encoded

,InvoiceGlobalId,Subcategory_ALOE VERA,Subcategory_BAR ICE CREAM,Subcategory_BAR SNACKS,Subcategory_BEERS,Subcategory_BUTTER,Subcategory_CAKE,Subcategory_CANDIES,Subcategory_CHEESE,Subcategory_CHEWING GUMS,...,Subcategory_TOYS,Subcategory_VAPE,Subcategory_VAPE DEVICES,Subcategory_VODKA,Subcategory_WAFERS,Subcategory_WHISKY,Subcategory_WINE,Subcategory_YOGURT,Subcategory_ΟΥΖΟ,Subcategory_ΤΣΙΠΟΥΡΟ
0,8412_452536,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4099_1277028,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8412_452839,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6748_853300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4099_1282071,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219219,8412_448618,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219220,8505_716266,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219221,7385_404476,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219222,8553_262736,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219223,7385_405989,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [239]:
# Group by InvoiceGlobalId and sum the Subcategory columns
dataset2_encoded = dataset2_encoded.groupby('InvoiceGlobalId').sum().reset_index()
dataset2_encoded

,InvoiceGlobalId,Subcategory_ALOE VERA,Subcategory_BAR ICE CREAM,Subcategory_BAR SNACKS,Subcategory_BEERS,Subcategory_BUTTER,Subcategory_CAKE,Subcategory_CANDIES,Subcategory_CHEESE,Subcategory_CHEWING GUMS,...,Subcategory_TOYS,Subcategory_VAPE,Subcategory_VAPE DEVICES,Subcategory_VODKA,Subcategory_WAFERS,Subcategory_WHISKY,Subcategory_WINE,Subcategory_YOGURT,Subcategory_ΟΥΖΟ,Subcategory_ΤΣΙΠΟΥΡΟ
0,4099_1273451,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4099_1273452,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4099_1273453,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4099_1273455,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4099_1273456,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140595,8553_263646,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140596,8553_263647,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140597,8553_263648,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
140598,8553_263649,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
140599,8553_263650,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [241]:
# Keep only the rows with sum of row less than 9
category_columns = dataset2_encoded.columns.drop('InvoiceGlobalId')
dataset2_encoded = dataset2_encoded[dataset2_encoded[category_columns].sum(axis=1) < 6]

In [242]:
dataset2_encoded.shape

(139916, 92)

# Later we do K-Means clustering with 8 clusters.

## Now for the subcategories

In [266]:
# Write the file to csv
dataset2_encoded.to_csv('data/dataset2_encoded_subcategory.csv', index=False)

### From Category Mappings

Read the Category Mappings file and merge the Category column to the dataset2_encoded dataframe.

In [26]:
# Read Category Mappings csv
category_mappings = pd.read_csv('data/Category Mapping.csv')

In [27]:
# Get the Category column from the category_mappings dataframe and merge to dataset2_encoded
dataset2_categ = pd.merge(dataset2, category_mappings[['Subcategory', 'Category']], on='Subcategory', how='left')

In [28]:
dataset2_categ = dataset2_categ[['InvoiceGlobalId', 'Category']]
dataset2_categ

       InvoiceGlobalId        Category
0          8412_452536          COFFEE
1         4099_1277028         TOBACCO
2          8412_452839     SOFT DRINKS
3          6748_853300   TOBACCO COMPL
4         4099_1282071  GUMS & CANDIES
...                ...             ...
219219     8412_448618     SOFT DRINKS
219220     8505_716266       CHOCOLATE
219221     7385_404476     SOFT DRINKS
219222     8553_262736        BISCUITS
219223     7385_405989     SOFT DRINKS

[219224 rows x 2 columns]

In [29]:
# One-Hot encode the Category column
dataset2_categ_encoded = pd.get_dummies(dataset2_categ, columns=['Category'], dtype=int)
dataset2_categ_encoded

,InvoiceGlobalId,Category_ALCOHOLIC BEVERAGES,Category_BISCUITS,Category_CHOCOLATE,Category_COFFEE,Category_DAIRY,Category_GUMS & CANDIES,Category_HOME & PERSONAL CARE,Category_ICE CREAM,Category_MILK,Category_PACKAGED FOOD,Category_PET CARE,Category_PRINT,Category_SNACKS,Category_SOFT DRINKS,Category_TICKETING AND ADMISSION SERVICES,Category_TOBACCO,Category_TOBACCO COMPL,Category_TOYS
0,8412_452536,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,4099_1277028,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,8412_452839,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,6748_853300,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,4099_1282071,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219219,8412_448618,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
219220,8505_716266,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
219221,7385_404476,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
219222,8553_262736,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
219223,7385_405989,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [30]:
# Group by InvoiceGlobalId and sum the Subcategory columns and if the sum is greater than 1, make it 1
dataset2_categ_encoded = dataset2_categ_encoded.groupby('InvoiceGlobalId').sum().reset_index()
# Replace with 1 if the sum is greater than 1
dataset2_categ_encoded[dataset2_categ_encoded.columns[1:]] = dataset2_categ_encoded[dataset2_categ_encoded.columns[1:]].map(lambda x: 1 if x > 1 else x)

In [31]:
# Show the sum of the Category columns
category_columns = dataset2_categ_encoded.columns.drop('InvoiceGlobalId')

dataset2_categ_encoded[category_columns].sum(axis=1)

0         1
1         1
2         1
3         1
4         2
         ..
140612    1
140613    2
140614    1
140615    3
140616    1
Length: 140617, dtype: int64

# Later we do K-Means clustering with 6 clusters.

In [32]:
# Write the file to csv
dataset2_categ_encoded.to_csv('data/dataset2_categ_encoded.csv', index=False)